<launch>

	<!-- Set the environment variable for Gazebo model path -->
	<env name="GAZEBO_MODEL_PATH" value="$(find ajgar_sim)/models" />

	<!-- Launch Gazebo simulation launch file and setup Gazebo environment  -->
	<include file="$(find ajgar_sim)/launch/ajgar_sim.launch" />

	<!-- Launch Freenect , which helps in to start Kinect depth camera plugin   -->
	<include file="$(find ajgar_sim)/launch/freenect.launch" />

	<!-- Launch MoveIt and its configuration -->
	<include file="$(find ajgar_moveit_config)/launch/move_group.launch" />

	<!-- Launch RViz and its configuration -->
	<arg name="use_rviz" default="true" />
	<include file="$(find ajgar_moveit_config)/launch/moveit_rviz.launch" if="$(arg use_rviz)">
		<arg name="rviz_config" value="$(find ajgar_moveit_config)/launch/moveit.rviz" />
	</include>

</launch> 
