<launch>

	<env name="GAZEBO_MODEL_PATH" value="$(find ajgar_sim)/models" />

	<include file="$(find ajgar_sim)/launch/ur5_sim.launch" />

	<include file="$(find freenect_launch)/launch/freenect.launch" />

	<include file="$(find ur5_moveit_config)/launch/move_group.launch" />

	<arg name="use_rviz" default="true" />
	<include file="$(find ur5_moveit_config)/launch/moveit_rviz.launch" if="$(arg use_rviz)">
		<arg name="rviz_config" value="$(find ur5_moveit_config)/launch/moveit.rviz" />
	</include>

</launch> 
