<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  
  <arg name="x" default="0.8"/>
  <arg name="y" default="0"/>
  <arg name="z" default="0"/>
  <arg name="roll" default="0"/>
  <arg name="pitch" default="0"/>
  <arg name="yaw" default="0"/>
  
  <env name="GAZEBO_MODEL_PATH" value="$(find nag_raj_description)/models"/>
 
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find nag_raj_description)/worlds/world.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
  
  	<node args="-param robot_description -urdf -model nag_raj -x $(arg x) -y $(arg y) -z $(arg z)" name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"/>

 <!-- <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model nag_raj"/> -->
  <!--<include file="$(find nag_raj_description)/launch/gazebo.launch">
  </include> -->
  <include file="$(find nag_raj_description)/launch/display.launch">
  </include>
</launch>
