<?xml version="1.0" ?>

<!-- Robot name : "robot_arm_urdf" -->
<robot name="robot_arm_urdf">

<!-- WORLD LINK -->
  <link name="world"/>

  <joint name="base_joint" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin rpy="0 0 3.142" xyz="0.0 0.0 0.0"/>
  </joint>

<!-- LINKS -->
    
  <link name="base_link">
    <inertial>
      <origin xyz="-0.20086145711321068 0.15999012822024827 0.04941490241193123" rpy="0 0 0"/>
      <mass value="8.807004689881243"/>
      <inertia ixx="0.01745" iyy="0.017481" izz="0.016047" ixy="-0.0" iyz="-4e-06" ixz="-0.000337"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://test_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://test_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <link name="a_1">
    <inertial>
      <origin xyz="0.029419774812387833 -0.0017772332922068035 0.03376266316995509" rpy="0 0 0"/>
      <mass value="2.4354806308440855"/>
      <inertia ixx="0.002855" iyy="0.004946" izz="0.0039" ixy="8.6e-05" iyz="0.000107" ixz="-0.001337"/>
    </inertial>
    <visual>
      <origin xyz="0.2 -0.16 -0.107" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://test_description/meshes/a_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin xyz="0.2 -0.16 -0.107" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://test_description/meshes/a_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <link name="b_1">
    <inertial>
      <origin xyz="0.2548769366631968 0.007430737433585577 0.19512416601943142" rpy="0 0 0"/>
      <mass value="1.9724688668400512"/>
      <inertia ixx="0.023255" iyy="0.062504" izz="0.039415" ixy="-0.00077" iyz="-0.000589" ixz="-0.029888"/>
    </inertial>
    <visual>
      <origin xyz="0.149885 -0.131329 -0.163963" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://test_description/meshes/b_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin xyz="0.149885 -0.131329 -0.163963" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://test_description/meshes/b_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <link name="c_1">
    <inertial>
      <origin xyz="0.2503382960727261 0.0054173643143954064 0.15348994130153915" rpy="0 0 0"/>
      <mass value="1.741267282489966"/>
      <inertia ixx="0.014156" iyy="0.051323" izz="0.037204" ixy="-0.000128" iyz="-7.8e-05" ixz="-0.022643"/>
    </inertial>
    <visual>
      <origin xyz="-0.268518 -0.151471 -0.484279" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://test_description/meshes/c_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin xyz="-0.268518 -0.151471 -0.484279" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://test_description/meshes/c_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <link name="d_1">
    <inertial>
      <origin xyz="-4.641496775814602e-08 1.640378754219629e-07 1.530252170534041e-07" rpy="0 0 0"/>
      <mass value="4.110250388446645"/>
      <inertia ixx="0.00411" iyy="0.00411" izz="0.00411" ixy="0.0" iyz="0.0" ixz="-0.0"/>
    </inertial>
    <visual>
      <origin xyz="-0.717746 -0.151624 -0.759712" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://test_description/meshes/d_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin xyz="-0.717746 -0.151624 -0.759712" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://test_description/meshes/d_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

<!-- JOINTS -->
  <joint name="Revolute_21" type="revolute">
    <origin xyz="-0.2 0.16 0.107" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="a_1"/>
    <axis xyz="0.0 0.0 1.0"/>
    <limit lower="-1.57" upper="1.57" effort="200" velocity="3" />
  </joint>

  <joint name="Revolute_22" type="revolute">
    <origin xyz="0.050115 -0.028671 0.056963" rpy="0 0 0"/>
    <parent link="a_1"/>
    <child link="b_1"/>
    <axis xyz="0.000341 -1.0 -0.0"/>
    <limit lower="-1.57" upper="1.57" effort="200" velocity="3" />
  </joint>

  <joint name="Revolute_23" type="revolute">
    <origin xyz="0.418403 0.020142 0.320316" rpy="0 0 0"/>
    <parent link="b_1"/>
    <child link="c_1"/>
    <axis xyz="-0.000341 1.0 0.0"/>
    <limit lower="-1.57" upper="1.57" effort="200" velocity="3" />
  </joint>

  <joint name="Rigid_24" type="fixed">
    <origin xyz="0.449228 0.000153 0.275433" rpy="0 0 0"/>
    <parent link="c_1"/>
    <child link="d_1"/>
  </joint>

<!-- TRANSMISSIONS -->
  <transmission name="Revolute_21_tran">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="Revolute_21">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="Revolute_21_actr">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="Revolute_22_tran">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="Revolute_22">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="Revolute_22_actr">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="Revolute_23_tran">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="Revolute_23">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="Revolute_23_actr">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

<!--GAZEBO Plugin-->
  <gazebo>
    <plugin name="control" filename="libgazebo_ros_control.so">
      <robotNamespace>/</robotNamespace>
    </plugin>
  </gazebo>

<!--GAZEBO CONFIRATION -->
  <gazebo reference="base_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <selfCollide>true</selfCollide>
    <gravity>true</gravity>
  </gazebo>

  <gazebo reference="a_1">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <selfCollide>true</selfCollide>
  </gazebo>

  <gazebo reference="b_1">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <selfCollide>true</selfCollide>
  </gazebo>

  <gazebo reference="c_1">
    <material>${body_color}</material>
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <selfCollide>true</selfCollide>
  </gazebo>

  <gazebo reference="d_1">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <selfCollide>true</selfCollide>
  </gazebo>


</robot>
